@import "global.scss";

.mainContainer {
  background: #000;
  overflow: hidden;

  .topContainer {
    background: url("../../assets/background_earth.png") no-repeat;
    width: 100vw;
    background-size: cover;
    color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 200px;
    height: 120vh;

    .heroSection {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
      @include breakpoint(mobile) {
        align-items: flex-start;
      }

      .introduction {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        h1 {
          font-size: calc(1.5em + 3vw);
          font-weight: bold;
          overflow: hidden;
          background: linear-gradient(90deg, #000, #fff, #000);
          background-repeat: no-repeat;
          background-size: 80%;
          animation: textShine 2s linear infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(255, 255, 255, 0.7);

          @include breakpoint(mobile) {
            width: 300px;
            text-align: left;
          }
        }

        p {
          font-size: calc(1em + 0.3vw);
          font-weight: 200;
          color: $lighgray;

          @include breakpoint(mobile) {
            width: 300px;
            text-align: left;
          }
        }
      }

      .interactions {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 25px;
        gap: 15px;
        @include breakpoint(mobile) {
          align-items: flex-start;
        }

        .getStartedBtn {
          background: $blue;
          padding: 7px 20px;
          border-radius: 5px;
          font-weight: 600;
          box-shadow: 0 4px 20px rgba($blue, 0.5);

          transition: background 150ms ease-in-out, transform 250ms ease-in-out,
            box-shadow 250ms ease-in-out;

          @include breakpoint(mobile) {
            font-size: 0.8em;
          }

          &:hover {
            background: darken($blue, 5%);
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba($blue, 0.6);
          }
        }

        .mobileDownload {
          text-align: center;
          font-weight: 200;
          font-size: 0.9em;
          color: $lighgray;
          @include breakpoint(mobile) {
            text-align: left;
          }

          .platformSelection {
            text-decoration: underline;
            margin-right: 5px;
            cursor: pointer;
            transition: color 150ms ease-in-out;

            &:nth-last-child(1) {
              margin-left: 5px;
            }

            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}

@keyframes textShine {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
