@import "global.scss";

$border: #535353;
$dark-bg: #3e3e3e;

.pageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: #1e1e1e;
  @include breakpoint(laptop) {
    flex-direction: column-reverse;
  }

  .interactionsSection {
    background: transparent;
    flex-grow: 0.5;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 40px 20px 0;
    position: sticky;
    align-self: stretch;
    border-right: 1.4px solid $border;
    height: 100vh;
    top: 0;
    @include breakpoint(laptop) {
      position: unset;
      height: unset;
      flex-direction: row;
      border: none;
      align-self: unset;
      width: 80%;
      align-items: center;
    }
    @include breakpoint(mobile) {
      padding: 10px;
      gap: 40px;
      justify-content: center;
      width: unset;
    }

    .logo {
      width: -moz-fit-content;
      width: fit-content;
      display: inline-block;
      white-space: nowrap;
      @include breakpoint(mobile) {
        display: none;
      }
    }

    .mobileLogo {
      width: 100%;
      display: none;
      white-space: nowrap;
      @include breakpoint(mobile) {
        display: block;
      }
    }

    .interactionsButtons {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
      @include breakpoint(mobile) {
        flex-direction: row;
        gap: 40px;
      }

      @include breakpoint(laptop) {
        width: 50%;
      }

      .signOutBtn {
        background: $dark-bg;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding: 5px 15px;
        width: 50%;
        border-radius: 4px;
        transition-property: gap, background;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        @include breakpoint(mobile) {
          width: 100%;
        }

        &:hover {
          gap: 15px;
          background: lighten($dark-bg, 3%);
        }

        span {
          color: white;
        }
      }
    }
  }

  .profileFeedSection {
    background: transparent;
    height: 100%;
    flex-grow: 1;
    border-top: none;
    border-bottom: none;
    align-self: stretch;

    .profileContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      padding: 60px 0 30px 0;
      gap: 30px;
      background: url("../../assets/images/profile_bg.png");
      background-size: cover;
      background-position: center;

      .profileAvatar {
        width: 200px;
        border-radius: 100px;
        border: 7px solid $white;
        border-radius: 100000px;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        img {
          height: 100%;
          -webkit-user-drag: none;
          border-radius: 100000px;
        }
      }

      .profileInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        gap: 10px;

        .userNames {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .name {
            font-size: 1.2rem;
          }

          .username {
            color: #ababab;
          }
        }

        .headline {
          max-width: 400px;
          text-align: center;
          @include breakpoint(mobile) {
            font-size: 0.9rem;
            max-width: 80vw;
          }
        }
      }
    }

    .statsWrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 30px 0;

      .statsCard {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex-direction: column;

        .cardCount {
          font-size: 3rem;
          @include breakpoint(mobile) {
            font-size: 1.5rem;
          }
        }

        .cardText {
          font-size: 1.5rem;
          font-weight: 100;
          color: #9c9c9c;
          @include breakpoint(mobile) {
            font-size: 1.2rem;
          }
        }
      }
    }

    .sectionSwitcher {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      border-bottom: 1.4px solid #535353;

      .sectionSwitcherBtn {
        width: -moz-fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        user-select: none;
        cursor: pointer;

        .switcherTitle {
          color: white;
          font-size: 1.2rem;
          padding: 5px;
          width: 100%;
          cursor: pointer;
        }

        .radioSelection {
          &:checked {
            & + .selectLine {
              background: $blue;

              & + .switcherTitle {
                color: $blue;
              }
            }
          }
        }

        .selectLine {
          width: 130px;
          height: 2.6px;
          border-radius: 10px 10px 0 0;
        }
      }
    }

    .projectsOverview {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 25px 40px;
      width: 100%;

      .interBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;

        .sectionTitle {
          font-size: 1.3rem;
        }

        .createProjectBtn {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          gap: 5px;
          background: $dark-bg;
          padding: 4px 10px;
          border-radius: 5px;
          border: 1.5px solid $border;
          font-size: 0.9rem;
          transition: background 200ms ease-in-out;

          &:hover {
            background: lighten($dark-bg, 3%);
          }
        }
      }

      .projectsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        @include breakpoint(700px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  .searchSection {
    background: transparent;
    height: 100%;
    flex-grow: 0.4;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: sticky;
    height: 100vh;
    border-left: 1.4px solid $border;
    align-self: stretch;
    top: 0;
    @include breakpoint(laptop) {
      position: unset;
      height: unset;
      padding: 10px;
      gap: 0;
      border: none;
    }

    .searchInput {
      position: relative;

      .searchIcon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
      }
    }

    .searchResultWrapper {
      background: #1b1b1b;
      border: 1px solid $border;
      border-radius: 4px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 350px;

      .user {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 8px 15px;
        gap: 20px;
        color: white;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        transition: background 150ms ease-in-out;

        &:hover {
          background: lighten(#1b1b1b, 3%);
        }

        .userInfo {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          font-size: 0.85rem;
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $lighgray;
        border-radius: 100px;
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
        border-radius: 100px;
        overflow: hidden;
      }
    }
  }
}
